<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <script src="/js/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="/js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('../navbar.ejs') %>
    <div class="container">
        <h2>Register</h2>

        <% if (typeof error !== "undefined" ) { %>
            <p class="error">
                <%= error %>
            </p>
        <% } %>

                <form action="/register" method="POST">
                    <label>Name:</label>
                    <input type="text" name="name" required value="<%= old && old.name ? old.name : '' %>">

                    <label>Email:</label>
                    <input type="email" name="email" required value="<%= old && old.email ? old.email : '' %>">

                    <label>Phone:</label>
                    <input type="text" name="phone" required value="<%= old && old.phone ? old.phone : '' %>">

                    <label>Job Position:</label>
                    <select name="position" required>
                        <option value=""></option>

                        <% if (isFirstUser) { %>
                            <%/* First user ต้องเป็น Admin เท่านั้น */%>
                            <option value="Admin" selected>Admin</option>
                        <% } else { %>
                            <% if (user && user.position === "Admin") { %>
                                <option value="Admin" <%= old && old.position === 'Admin' ? 'selected' : '' %>>Admin</option>
                            <% } %>
                            <option value="Cashier" <%= old && old.position === 'Cashier' ? 'selected' : '' %>>Cashier</option>
                        <% } %>
                        
                    </select>

                    <label>Password:</label>
                    <input type="password" name="password" required>

                    <label>Confirm Password:</label>
                    <input type="password" name="confirmPassword" required>

                    <button type="submit" onclick="return confirm('ยืนยันข้อมูลการสมัครสมาชิก')">Register</button>

                    <% if (user) { %>
                        <a href="/" class="btn btn-cancel" style="margin-bottom: 10px;">ย้อนกลับ</a>
                    <% } %>
                </form>

                <p>Already have an account? <a href="/login">Login</a></p>
    </div>
</body>

</html>